# Node modules and build distributions
node_modules/
dist/
dist-ssr/
*.local

# Capacitor and Android builds
android/
ios/
.tools/
.gradle/
build/

# Logs and temporary files
*.log
*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
